
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

:not(.row>.col){
    font-size: 0;
}

.row>[class*=col-]{
    /* display: inline-block; */
    font-size: 14pt;
    padding: 15px;
}

[class*=col]{
    display: flex;
}

.col-0{
    display: none;
}

.col-1{
    width: calc(100% / 12);
}
.col-2{
    width: calc(100% / 6);
}
.col-3{
    width: 25%;
}
.col-4{
    width: calc(100% / 3);
}
.col-5{
    width: calc(5 / 12 * 100%);
}
.col-6{
    width: 50%;
}
.col-7{
    width: calc(7 / 12 * 100%);
}
.col-8{
    width: calc(2 / 3 * 100%);
}
.col-9{
    width: 75%;
}
.col-10{
    width: calc(5 / 6 * 100%);
}
.col-11{
    width: calc(11 / 12 * 100%);
}
.col-12{
    width: 100%;
}

@media screen and (max-width: 767px){/* from 0 to 767px*/
    [class*=col]{
        display: flex;
    }
    .col-sm-0{
        display: none;
    }
    .col-sm-1{
        width: calc(100% / 12);
    }
    .col-sm-2{
        width: calc(100% / 6);
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: calc(100% / 3);
    }
    .col-sm-5{
        width: calc(5 / 12 * 100%);
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: calc(7 / 12 * 100%);
    }
    .col-sm-8{
        width: calc(2 / 3 * 100%);
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width: calc(5 / 6 * 100%);
    }
    .col-sm-11{
        width: calc(11 / 12 * 100%);
    }
    .col-sm-12{
        width: 100%;
    }
}

@media screen and (max-width: 575px){/* from 0 to 575px*/
    [class*=col]{
        display: flex;
    }
    .col-xs-0{
        display: none;
    }
    .col-xs-1{
        width: calc(100% / 12);
    }
    .col-xs-2{
        width: calc(100% / 6);
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: calc(100% / 3);
    }
    .col-xs-5{
        width: calc(5 / 12 * 100%);
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: calc(7 / 12 * 100%);
    }
    .col-xs-8{
        width: calc(2 / 3 * 100%);
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: calc(5 / 6 * 100%);
    }
    .col-xs-11{
        width: calc(11 / 12 * 100%);
    }
    .col-xs-12{
        width: 100%;
    }
}