.square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.redBG{
  background-color: red;
}

.circle{
  border-radius: 50%;
}

.output{
  padding: 15px;
  position: fixed;
  right: 15px;
  border: 1px solid transparent;
  transition: border 1s;
}

.output-new{
  border: 1px solid black;
}

